/* color
 purple #E53170
blue #5CB9E8
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
 }
 body{
   width: 1080px;
   margin: auto;
   padding: 2rem;
 }
 h1{
    color: #E53170;
    text-align: center;
    margin: 2rem;
 } 
 h2{
    display: inline-block;
    
 }  
 header{
    margin-bottom: 4rem;
 }
 
.cards{
    display: inline-block;
    
    color: white;
    background-color: black;
    display: inline-block;
    float: left;

}
img{
    height: 100px;
}
.float-left{
    float: left;
}
.clearfix ::after{
    clear: left;
}
