/* color
 purple #E53170
blue #5CB9E8
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
 }
 body{
   max-width: 1200px;
   margin: auto;
   padding: 2rem;
 }
main{
    width: calc(100 / 3);
}
 
 h1{
    color: #E53170;
    text-align: center;
    margin: 2rem;
 } 
 h2{
    display: inline-block;
    padding: 0.5rem 0;
    
    
 }
 h4 {
    display: inline-block;
    padding: 0.2rem;
    
    
 }  
 header{
    margin-bottom: 4rem;
    text-align: center;
 }
 
.cards{
    color: white;
    background-color: black;
    display: inline-block;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    border: solid black;
    border-radius: 5px;


    
}
img{
    height: 100px;
    margin-right: 1rem;
    float: left;
    
}

.email{
    color: #5CB9E8;
    text-decoration: none;
    display: block;
    
}
.container{
    float: left;
}
.clearfix{
    float: left;
    
}
.row{
    margin: 0 -1rem;
}

.clearfix::after{
    content:'';
    clear: both;
    display: table;


}
